@font-face {
  font-family: 'Open Sans';
  src: url('./font/DancingScript-VariableFont_wght.ttf');
}

body {
  background-color: #E5E5B4;
  border: 3px solid #38535E;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
}

h2 {
  font-size: 5vw;
}

p {
  font-size: 15px;
}

li {
  list-style: none;
}

.contraste {
  background-color: #38535E;
}

.extremo {
  height: 100px;
}

.tarjeta {
  border-radius: 2px;
  border: 2px solid #B29B36;
  margin: 100px 20px 100px 20px;
  padding: 20px;
  background-color: #D4BF65;
}
 
.mapa {
  width: 120px;
  height: 120px;
}

.logo-s {
  width: 40px;
  height: 40px;
}

.logo-l {
  width: 70px;
  height: 70px;
}

.logo-xl {
  width: 100px;
  height: 100px;
}

.logo-xxl {
  width: 200px;
  height: 200px;
}

.borde-div {
  position: relative;
  left: 10vw;
  top: 60px;
}
