@font-face {
  font-family: 'Open Sans';
  src: url('./font/DancingScript-VariableFont_wght.ttf');
}

body {
  background-color: #E5E5B4;
  border: 3px solid #38535E;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

li {
  list-style: none;
}

.contraste {
  background-color: #38535E;
}

.extremo {
  height: 50px;
}

.tarjeta {
  border-radius: 2px;
  border: 2px solid #D9857B;
  margin: 100px 20px 100px 20px;
  padding: 20px;
  background-color: #D4BF65;
}

.mapa {
  width: 120px;
  height: 120px;
}

.logo-s {
  width: 40px;
  height: 40px;
}

.logo-l {
  width: 70px;
  height: 70px;
}
