main {
  background-color: #E5E5B4;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  background-color: #D4BF65;
}